
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.service-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.text-section {
    flex: 1;
}

.main-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.sub-heading {
    font-size: 1.2rem;
    color: #666;
}

.highlight-text {
    font-size: 1.2rem;
    color: #666;
}




.image-section {
    position: relative;
    width: 40%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
  }
  
  .b {
    position: absolute;
    width: 75%; 
    height: auto;
    margin-top: 80%;
    top: 2%;
    left: 12%; 
    z-index: 1; 
    opacity: 0.4; 
  }
  
  .main{
    position: relative;
    margin-top: 70%;
    max-width: 88%; 
    z-index: 2;
  }

.main-content {
    padding: 30px;
}


#add-service {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    margin-left: 5%;
}

.card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.service-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black; 
    border-radius: 15px;
    margin-bottom: 20px;
    
}
.services-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    margin-bottom: 70px;
}
.add-service-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.add-service-button:hover {
    background-color: #045adb;
}

.service-text {
    text-align: center;
    font-size: 1.1rem;
    color: #666;
}


.service-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.service-item {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
    color: #333;
}


