.signup-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .image-side {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .image-side img {
    width: 500px; 
    height: 500px; 
  }
  
  .form-side {
    flex: 1.5; 
    padding: 20px;
    background-color: #f0efef; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 25px; 
  }
  
  label {
    text-align: left;
    display: block; 
    margin-bottom: 5px; 
    font-weight: normal; 
    font-size: 16px; 
    margin-block-start: 2%;
  
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #000000; 
    border-radius: 5px; 
  }
  
  textarea {
    resize: vertical; 
    height: 80px; 
  }
  
  input[type="file"] {
    display: block; 
    margin-top: 5px; 
    border: 1px solid #000000;
    border-radius: 5px; 
    padding: 10px; 
    width: calc(100% - 20px); 
  }
  
  
  
  button {
    width: 50%; 
    padding: 12px; 
    background-color: #007bff;
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    margin: 0 auto;
    display: block; 
  }
  
  button:hover {
    background-color: #0056b3; 
  }
  
  .error {
    color: red;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: -32px;
  }
  .form-group {
    position: relative; 
  }
  
  
  .success {
    color: green; 
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .phone-input {
    display: flex;
    gap: 30px; 
    margin-top: 1px;
  }
  
  .phone-code,
  .phone-number {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
   
  }
  .phone-code{
    width : 50%;
    height: auto;
    font: normal;
    font-size: 16px;
  
  
  }
  .phone-number{
    width: 20px;
    height: 45px;
  }


  .password-field {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-field input {
    width: 100%;
    padding-right: 30px; /* Extra padding to avoid overlap with the icon */
  }
  
  .eye-icon {
    position: absolute;
    right: 10px; /* Adjust to position icon to the right inside the input */
    cursor: pointer;
    color: #888; /* Color for the icon */
    font-size: 18px;
  }
  

  .login-prompt {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    color: #555; /* Change to your preferred color */
  }
  
  .login-prompt a {
    color: #007bff; /* Change to your preferred link color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make link bold */
  }
  
  .login-prompt a:hover {
    text-decoration: underline; /* Underline on hover */
  }
  