 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.service-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px; 
  border-radius: 10px;
  height: calc(100vh - 80px); 
  margin: 0; 
  position: relative; 
}

.text-section {
  max-width: 50%;
  text-align: left;
  position: relative; 
  z-index: 2; 
}

.main-heading {
  font-size: 2rem; 
  color: #333;
  line-height: 1.2;
  margin-bottom: 15px; 
  font-weight: 600;
}

.sub-heading {
  font-size: 1rem; 
  color: #666;
  margin-bottom: 10px;
}

.highlight-text {
  font-size: 1rem; 
  color: #666;
  margin-bottom: 10px; 
}

.sign-up-btn {
  background-color: #007 ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.service-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px; 
    border-radius: 10px;
    height: calc(100vh - 80px); 
    margin: 0; 
    position: relative; 

}
  
.text-section {
    max-width: 50%;
    text-align: left;
    position: relative; 
    margin-left: 3%;
    z-index: 2; 
}
  
.main-heading {
    font-size: 2rem; 
    color: #333;
    line-height: 1.2;
    margin-bottom: 15px; 
    font-weight: 600;
}
  
.sub-heading {
    font-size: 1rem; 
    color: #666;
    margin-bottom: 10px;
}

.highlight-text {
    font-size: 1rem; 
    color: #666;
    margin-bottom: 10px; 
}
  

  
.image-section {
  position: relative;
  width: 40%; 
  text-align: center;
  margin-left: 3%;
}


.background-decore {
  position: absolute;
  width: 75%; 
  height: auto;
  top: 2%;
  left: 12%; 
  z-index: 1; 
  opacity: 0.4; 
}

.main-pic {
  position: relative;
  width: 70%; 
  z-index: 2;
}



@media (max-width: 1024px) {
    .service-container {
        flex-direction: column;
        text-align: center;
        padding: 20px 10px; 
        height: auto; 
    }

    .text-section, .image-section {
        width: 100%;
        text-align: center;
    }

    .main-heading {
        font-size: 2rem;
    }

    .sign-up-btn {
        font-size: 1rem;
        padding: 12px 30px; 
    }

    .sub-heading, .highlight-text {
        font-size: 1.1rem;
    }

    .background-decore {
        top: 20px; 
        width: 100%; 
    }
}
/* Services Section */
.services-section {
    padding: 40px 50px; 
}

.services-heading {
    text-align: center; 
    font-size: 2rem; 
    color: #333; 
    margin-bottom: 20px; 
}

.services-boxes {
    display: flex;
    justify-content: center; 
    gap: 20px; 
}

.service-box {
  
    padding: 20px; 
   
    text-align: center; 
    cursor: pointer; 
}

.service-box:hover {
    
    box-shadow: 0 4px 15px rgb(187, 213, 248); 
}

.service-text {
    font-weight: bold; 
    color: #333; 
    margin-top: 10px; 
}

service-image {
    width: 30px; 
    height: auto; 
    margin-bottom: 10px; 
}

.quote-section {
    height: 397px;
    position: relative;
    width: 100px;
  }
  
  .quote-section .quote-contents {
    align-items: flex-start; 
    height: 250px;
    left: 161px;
    position: relative;
    align-items: start;
    top: 64px;
    width: 520px;
  }
  
  .quote-section .texts {
    height: 250px;
    
    

    width: 412px;
  }
  /* why choose us */
  .quote-section .frame {
    height: 68px;
    position: absolute;
    top: 0;
    width: 412px;
  }
  
  .quote-section .why-our-customers {
    align-items: start;
    color: #111c15;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 43.2px;
    position: absolute;
    top: -1px;
    width: 542px;
  }
  
  .quote-section .text-wrapper {
    color: #111c15;
    font-size: 15px;
    font-weight: 400;
    left: 0;
    line-height: 22.5px;
   position: relative;
    top: 91px;
    width: 476px;
  }
  
  .quote-section .image {
    background-image: url(../assests/images/whycutomerchooseus.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 345px;
    left: 869px;
    position: absolute;
    top: 16px;
    width: 344px;
  }
/* about */
  .about-section {
    height: 564px;
    position: relative;
    width: 100px;
  }
  
  .about-section .images {
    height: 452px;
    left: 193px;
    position: absolute;
    top: 58px;
    width: 274px;
  }
  
  .about-section .overlap-group {
    height: 459px;
    position: relative;
  }
  
  .about-section .image {
    height: 296px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 274px;
  }
  
  .about-section .img {
    height: 214px;
    left: 43px;
    object-fit: cover;
    position: absolute;
    top: 245px;
    width: 188px;
  }
  
  .about-section .overlap {
    height: 379px;
    left: 591px;
    position: absolute;
    top: 65px;
    width: 394px;
  }
  
  .about-section .about-contents {
    height: 350px;
    left: 0;
    position: absolute;
    top: 29px;
    width: 394px;
  }
  
  .about-section .texts {
    height: 278px;
    position: relative;
  }
  
  .about-section .frame {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 30px;
    left: 0;
    position: absolute;
    top: 0;
  }
  
  .about-section .div-wrapper {
    height: 149px;
    position: relative;
    width: 394px;
  }
  
  .about-section .text-wrapper {
    color: #666666;
    font-family: "Be Vietnam Pro-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 27px;
    letter-spacing: 0;
    line-height: 19.2px;
    position: absolute;
    top: 91px;
    width: 366px;
  }
  
  .about-section .point {
    height: 105px;
    left: 47px;
    position: absolute;
    top: 173px;
    width: 325px;
  }
  
  .about-section .div {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 12px;
    left: 0;
    position: absolute;
    top: 0;
  }
  
  .about-section .frame-2 {
    align-items: center;
    align-self: stretch;
    background-color: #f5f4f4;
    border-radius: 3px;
    display: flex;
    flex: 0 0 auto;
    gap: 6px;
    padding: 7.5px;
    position: relative;
    width: 100%;
  }
  
  .about-section .frame-3 {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 6px;
    position: relative;
  }
  
  .about-section .text-wrapper-2 {
    color: #111d15;
    font-family: "Lato-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 14.4px;
    margin-right: -28px;
    margin-top: -0.75px;
    position: relative;
    width: 150px;
  }
  
  .about-section .text-wrapper-3 {
    color: #111d15;
    font-family: "Lato-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 14.4px;
    margin-top: -0.75px;
    position: relative;
    width: 122px;
  }
  
  .about-section .frame-4 {
    align-items: center;
    align-self: stretch;
    background-color: #f5f4f4;
    border-radius: 3px;
    display: flex;
    flex: 0 0 auto;
    gap: 6px;
    justify-content: center;
    padding: 7.5px;
    position: relative;
    width: 100%;
  }
  
  .about-section .text-wrapper-4 {
    color: #111d15;
    font-family: "Lato-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 14.4px;
    margin-top: -0.75px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .about-section .frame-5 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 12px;
    left: 194px;
    position: absolute;
    top: 0;
  }
  
  .about-section .text-wrapper-5 {
    color: #111c15;
    font-family: "Lato-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 14.4px;
    margin-top: -0.75px;
    position: relative;
    width: 71px;
  }
  
  .about-section .frame-6 {
    align-items: flex-start;
    align-self: stretch;
    background-color: #f5f4f4;
    border-radius: 3px;
    display: flex;
    flex: 0 0 auto;
    gap: 6px;
    padding: 7.5px;
    position: relative;
    width: 100%;
  }
  
  .about-section .text-wrapper-6 {
    color: #111c15;
    font-family: "Lato-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 14.4px;
    margin-top: -0.75px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .about-section .welcome-to-service {
    color: #111c15;
    font-family: "Be Vietnam Pro-SemiBold", Helvetica;
    font-size: 29px;
    font-weight: 600;
    left: 16px;
    letter-spacing: 0;
    line-height: 34.8px;
    position: absolute;
    text-align: center;
    top: 0;
  }