
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer; 
}

.logo img {
  height: 70px;
 
 
}



.logo-text {
  margin-left: -20px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo-text .highlight {
  font-size: 20px; 
  color: #007bff; 
}

.logo-text h1 {
  margin: 0;
  font-size: 20px; 
  font-weight: bold;
}

.logo-text h1 {
  margin: 0;
  font-size: 20px; 
  font-weight: bold;
}

.logo-text p {
  margin: 0;
  font-size: 14px; 
  color: #666;
}

.navigation {
  display: flex;
  gap: 20px;
}

.navigation a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.search-login {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.search-box {
  position: relative;
}

.search-box input {
  padding: 8px 30px 8px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.search-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}

button {
  padding: 10px 20px; 
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 25px; 
  cursor: pointer;
  font-size: 16px; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05); 
}



.become-provider-btn {
  padding: 10px 20px; 
  background-color: #007bff; 
  color: #fff;
  border: none;
  border-radius: 25px; 
  cursor: pointer;
  font-size: 16px; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.become-provider-btn:hover {
  background-color: #0056b3; 
  transform: scale(1.05); 
}


.navigation a:hover {
  border-bottom: 2px solid #007bff; 
}

.search-box input:hover, 
.search-box input:focus {
  border-color: #000000; 
 
}
