.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 70px; 
  margin-right: 15px; 
}

.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.logo-text .highlight {
  color: #007bff; 
}

.logo-text h1 {
  margin: 0; 
  font-size: 20px; 
  font-weight: bold;
}

.logo-text p {
  margin: 0; 
  font-size: 14px; 
  color: #666;
}

.navigation {
  display: flex;
  align-items: center; 
  gap: 20px; 
}

.navigation a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.logout {
  display: flex;
  align-items: center; 
  gap: 5px; /* Reduced gap between elements */
}

button {
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  border-radius: 25px; 
  cursor: pointer; 
  font-size: 14px; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
  padding: 10px 30px; /* Increased button width */
  display: flex; 
  align-items: center; 
  width: 120px; /* Set a specific width for the button */
  justify-content: center;
}

button:hover {
  background-color: #0056b3; 
}
